.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: $color-dark-bg;
}

.footer-content {
	display: flex;
	align-items: baseline;
}

.footer-content__socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	transition: background-color $animation-type1, color $animation-type1;

	&:not(:last-child) {
		margin-right: 10px;
	}

	&:hover,
	&:focus {
		background-color: $color-brand;
		color: $color-white;
	}
}

.footer-content__socials-icon {
	width: 20px;
	height: 20px;
}

.footer-content__contacts-block {
	margin-right: 70px;
}

.footer .logo {
	margin-bottom: 20px;
}

.footer__address {
	font-style: normal;
	color: $color-white;
}

.footer-contacts__link {
	color: $color-light-grey;
	transition: color $animation-type1;

	&:hover,
	&:focus {
		color: $color-brand;
	}
}

.footer-content__socials-cta-text,
.newsletter-form__label {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0 0 20px 0;
}

.footer-content__socials-list {
	display: flex;
}

.footer-content__socials-item:not(:last-child) {
	margin-right: 10px;
}

.footer-content__socials-link {
	background-color: $color-icon-footer-inactive;
	color: $color-white;
}

.footer-contacts__item:first-child .footer-contacts__link {
	color: $color-section-alternate-bg;
}

.footer-contacts__item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-content__newsletter-form {
	max-width: 570px;
	margin-left: auto;
}

.newsletter-form__group {
	display: flex;
	flex-wrap: wrap;
}

.newsletter-form__label {
	display: inline-flex;
}

.newsletter-form__input-field {
	padding: 0 16px;
	margin-right: 12px;
	width: 358px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	height: 50px;
	background-color: transparent;
	transition: border-color $animation-type1;
	font-size: 16px;
	line-height: 1.25;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 0.03em;

	&:hover,
	&:focus-within {
		outline: none;
		border-color: $color-brand;
	}
}

.newsletter-form__icon-submit {
	margin-left: 10px;
}
