.what-we-do__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
}

.what-we-do__item {
	position: relative;
}

.what-we-do__description-block {
	position: absolute;
	bottom: 0;
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(47, 48, 58, 0.8);
}

.what-we-do__description-text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: $color-white;
}

.what-we-do__item:not(:last-child),
.our-team__item:not(:last-child) {
	margin-right: 30px;
}
